body{
    background-color: lightgray;
}
#timer {
    background-color: white;
    margin-top: 20px;
}
#title {
    color: purple;
    text-align: center;
    background-color: white;
}
#info {
    text-align: center;
    background-color: white;
}

button {
    background-color: purple;
    color: white;
    padding: 10px;
}
.col-6 {
    background-color: white;
    padding-bottom: 20px;
    text-align: center;
    padding-top: 20px;
}
.hide {
    display: none;
}
.questionbttn {
    width: 100%;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}